@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.calculatorthreecontainer{

    min-width: 320px;
    width: 65%;
    max-width:  569px;
    margin: 24px auto;
    padding: 0px 9px;

    display: flex;
    position: relative;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;

    box-sizing: border-box;
    font-family: "Roboto" !important;
    border: .69px dotted black;
}

.calculatorthreecontainer div {
    margin-top: 6px;
    margin-bottom: 6px;
    

    width: 100% !important;

    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    
}

label {
    font-weight: 600;
    letter-spacing: .69px;
    font-size: 16px;
}

select, input {
    width: 50% !important;
    box-sizing: border-box !important;
}

.button {
    display: flex;
    flex-flow: column !important;
    justify-content: flex-start !important;
    align-items: center !important;
    padding-top: 12px !important;
    
}

button {
    border: none;
    font-family: inherit;
    padding: 3px 6px;
    font-size: 18px;
    letter-spacing: 1.5px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px 0.2px black;
    background-color: #283883 !important;
    color: white !important;
    margin-top: 6px;
    margin-bottom: 3px;
    visibility: visible;
}

button:hover {
    background-color: white !important;
    border: .69px solid #283883;
    color: #283883 !important;
}

.loadanime{
    
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#loadanime{
    width: 59% !important;
    visibility: collapse;
    margin: 12px auto;
  
  }

  .dots{
    position: relative;
    margin-top: 6px;
    top: -6px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: black;
    animation: wobbleMeDots 1.9s linear 0s infinite forwards ;
  }

  #spOne {
    animation-delay: 0.9s;
  }

  #spTwo {
    animation-delay: 1.8s;
  }

  #spThree {
    animation-delay: 2.7s;
  }

  @keyframes wobbleMeDots {

    0%{
        top: -6px;
    }

    50%{

      top: 12px;
      
    }

    100%{

      top: -6px;

    }
    
  }

.loadanime span {
    font-size: 48px;
    
    font-weight: 600;
}


.premiumprice {
    justify-content: center !important;
    width: 100%;
}

#customalert{
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #283883;
  color: white;
  z-index: 1;

}

#customalert #closebutton_calThree211810 {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin-top: 9px;
  margin-right: 9px;
  box-sizing: border-box;
  top: 0px;
  right: 0px;
  text-align: center;
  font-weight: bolder;
  font-size: 19px;
  cursor: pointer;
  border-radius: 50%;
  user-select: none;
  background-color: white;
  color: #283883;
}

#customalert #span {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: block;
  letter-spacing: .69px;
  padding-top: 21%;
}